{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "shippedProposals": true,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": ["add-module-exports", "syntax-object-rest-spread"]
}
