{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["unobtrusive"],
  "globals": {
    "__DEVELOPMENT__": true
  },
  "env": {
    "es6": true,
    "node": true
  }
}
